@model AppTest.Models.Convocatoria

@{
    ViewBag.Title = "crearConvocatoria";
    Layout = "~/Views/Shared/_MasterPlantilla.cshtml";
}

<br />
<h2>Crear una nueva Convocatoria</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Convocatoria</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fecha_inicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_inicio, new { htmlAttributes = new { @class = "form-control", Type = "Date" } })
                @Html.ValidationMessageFor(model => model.fecha_inicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_fin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_fin, new { htmlAttributes = new { @class = "form-control", Type = "Date" } })
                @Html.ValidationMessageFor(model => model.fecha_fin, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "Index")
</div>

@section Widgets{
    <li class="panel">
        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#convocatorias">
            <i class="fa fa-edit"></i>Convocatorias<i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse nav in" id="convocatorias">
            <li>
                <a href="@Url.Action("nuevaConvocatoria")">
                    <i class="fa fa-angle-double-right"></i> Nueva Convocatoria
                </a>
            </li>
            <li>
                <a href="@Url.Action("nuevoTestAptitudes")">
                    <i class="fa fa-angle-double-right"></i> Crear Test Aptitudes
                </a>
            </li>
            <li>
                <a href="@Url.Action("nuevoTestPostulacion")">
                    <i class="fa fa-angle-double-right"></i> Crear Test Postulacion
                </a>
            </li>
            <li>
                <a href="@Url.Action("reporteConvocatorias")">
                    <i class="fa fa-angle-double-right"></i> Reporte Resultados
                </a>
            </li>
        </ul>
    </li>
    <li class="panel">
        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#docentes">
            <i class="fa fa-edit"></i>Docentes<i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse nav" id="docentes">
            <li>
                <a href="@Url.Action("nuevoDocente")">
                    <i class="fa fa-angle-double-right"></i> Ingresar Docente
                </a>
            </li>
            <li>
                <a href="@Url.Action("nuevoCoordinador")">
                    <i class="fa fa-angle-double-right"></i> Ingresar Coordinador
                </a>
            </li>
        </ul>
    </li>
    <li class="panel">
        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#modulos">
            <i class="fa fa-edit"></i>Módulos<i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse nav" id="modulos">
            <li>
                <a href="@Url.Action("nuevoModulo")">
                    <i class="fa fa-angle-double-right"></i> Ingresar Módulos
                </a>
            </li>
            <li>
                <a href="@Url.Action("asignarModulo")">
                    <i class="fa fa-angle-double-right"></i> Asignar Módulos
                </a>
            </li>
            <li>
                <a href="@Url.Action("reporteModulos")">
                    <i class="fa fa-angle-double-right"></i> Reporte por Módulos
                </a>
            </li>
        </ul>
    </li>
}
