@model IEnumerable<AppTest.Models.GetTest_Result>
@{
    ViewBag.Title = "TestAptitudes";
    Layout = "~/Views/Shared/_MasterPlantilla.cshtml";
}

<div class="portlet portlet">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h4>Test de Aptitudes</h4>
        </div>

        <div class="clearfix"></div>
    </div>
    <div id="formControls" class="panel-collapse collapse in">
        <div class="portlet-body">
            <form class="form-horizontal" id="myForm">

               
                @foreach (var item in Model)
                {

                <div class="form-group">
                    <div>
                        <label class="col-sm-push-12 control-label "> @Html.DisplayFor(modelItem => item.pregunta)</label>
                    </div>
                    <div>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="@Html.DisplayFor(modelItem => item.pregunta)" id="optionsRadios1" value="1" class="opcion">@Html.DisplayFor(modelItem => item.opcion1)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="@Html.DisplayFor(modelItem => item.pregunta)" id="optionsRadios2" value="2" class="opcion">@Html.DisplayFor(modelItem => item.opcion2)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="@Html.DisplayFor(modelItem => item.pregunta)" id="optionsRadios3" value="3" class="opcion">@Html.DisplayFor(modelItem => item.opcion3)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="@Html.DisplayFor(modelItem => item.pregunta)" id="optionsRadios4" value="4" class="opcion">@Html.DisplayFor(modelItem => item.opcion4)
                                </label>
                            </div>
                            <label name="opcorrecta" style="visibility:hidden" id="respuesta">@Html.DisplayFor(modelItem => item.opcion_correcta)</label>
                        </div>
                    </div>
                </div>
                                        
                                        }
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default pull-right" onclick="obtenerCalificacion();">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function obtenerCalificacion() {
        var iterador = 0;
        var respArreglo = [];
        var correctas = [];
        var calificacion = 0;

        $("#myForm input[type=radio]:checked").each(function () {
                respArreglo[iterador] = $(this).val();
                iterador++;
        });
        iterador = 0;
        $('label[id]').each(function () {
            correctas[iterador] = $(this).text().replace(/\s+/, "");
            iterador++;
        });

        for (i = 0; i < correctas.length; i++) {
            if (respArreglo[i] == correctas[i]) {
                calificacion++;
            }
        }

        alert("Tu calificación es: " + calificacion);
        }

    /*function enviarFormulario() {
        $.each(pArreglo, function (index, val) {
            console.log(val);
           $.ajax({
                type: "POST",
                url: "../Administrador/crearTestAptitudes",
                data: JSON.stringify(val), //Maps the controller params
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () { alert('Success'); }
            });
        });
        location.reload();
    }*/

</script>


@section Widgets{
    <li class="panel">
        <a href="@Url.Action("Informacion")" data-parent="#side">
            <i class="fa fa-edit"></i> Información Personal
        </a>
    </li>
    <li class="panel">
        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#tests">
            <i class="fa fa-edit"></i>Tests<i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse nav in" id="tests">
            <li>
                <a href="@Url.Action("TestAptitudes")">
                    <i class="fa fa-angle-double-right"></i> Test de Aptitudes
                </a>
            </li>
            <li>
                <a href="@Url.Action("TestPostulacion")">
                    <i class="fa fa-angle-double-right"></i> Test de Postulacion
                </a>
            </li>
        </ul>
    </li>
    <li class="panel">
        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#calificaciones">
            <i class="fa fa-edit"></i> Calificaciones <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse nav" id="calificaciones">
            <li>
                <a href="@Url.Action("calificacionesPostulacion")">
                    <i class="fa fa-angle-double-right"></i> Calificacion Examen de Postulacion
                </a>
            </li>
            <li>
                <a href="@Url.Action("calificacionesAptitudes")">
                    <i class="fa fa-angle-double-right"></i> Calificacion Examen de Aptitudes
                </a>
            </li>
            <li>
                <a href="@Url.Action("calificacionesModulos")">
                    <i class="fa fa-angle-double-right"></i> Calificacion Módulos
                </a>
            </li>
        </ul>
    </li>

}