
@{
    ViewBag.Title = "TestAptitudes";
    Layout = "~/Views/Shared/_MasterPlantilla.cshtml";
}

@if (Session["aciertosAptitudes"] != null & Session["fallasAptitudes"] != null)
{
    @Html.Partial("noTest");
}
@if (Session["aciertosAptitudes"] == null & Session["fallasAptitudes"] == null)
{
    @Html.Partial("mostrarTestAptitudes");
}


@section Widgets{
    <li class="panel">
        <a href="@Url.Action("Informacion")" data-parent="#side">
            <i class="fa fa-edit"></i> Información Personal
        </a>
    </li>
    <li class="panel">
        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#tests">
            <i class="fa fa-edit"></i>Tests<i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse nav in" id="tests">
            <li>
                <a href="@Url.Action("TestAptitudes")">
                    <i class="fa fa-angle-double-right"></i> Test de Aptitudes
                </a>
            </li>
            <li>
                <a href="@Url.Action("TestPostulacion")">
                    <i class="fa fa-angle-double-right"></i> Test de Postulacion
                </a>
            </li>
        </ul>
    </li>
    <li class="panel">
        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#calificaciones">
            <i class="fa fa-edit"></i> Calificaciones <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse nav" id="calificaciones">
            <li>
                <a href="@Url.Action("calificacionesPostulacion")">
                    <i class="fa fa-angle-double-right"></i> Calificacion Examen de Postulacion
                </a>
            </li>
            <li>
                <a href="@Url.Action("calificacionesAptitudes")">
                    <i class="fa fa-angle-double-right"></i> Calificacion Examen de Aptitudes
                </a>
            </li>
            <li>
                <a href="@Url.Action("calificacionesModulos")">
                    <i class="fa fa-angle-double-right"></i> Calificacion Módulos
                </a>
            </li>
        </ul>
    </li>

}