@model IEnumerable<AppTest.Models.Pregunta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPlantilla.cshtml";
}

<br />
<h2>Banco de Preguntas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.textoPregunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.op1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.op2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.op3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.op4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opCorrecta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.textoPregunta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.op1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.op2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.op3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.op4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opCorrecta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.preguntaID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.preguntaID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.preguntaID })
        </td>
    </tr>
}

</table>

@section Widgets{
    <li class="panel">
        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#forms">
            <i class="fa fa-edit"></i> Menu de Preguntas <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse nav in" id="forms">
            <li>
                <a href="@Url.Action("Index")">
                    <i class="fa fa-angle-double-right"></i> Banco de Preguntas
                </a>
            </li>
            <li>
                <a href="@Url.Action("Create")">
                    <i class="fa fa-angle-double-right"></i> Añadir una Nueva Pregunta
                </a>
            </li>
        </ul>
    </li>
}