@model IEnumerable<AppTest.Models.Pregunta>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
        @Html.ActionLink("Create New", "../Preguntas/Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.textoPregunta)
            </th>
            <th>
                @Html.Label("Agregar")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.textoPregunta)
                    
                </td>
                <td>
                    @Ajax.ActionLink("Agregar", "AgregarPregunta",new { int.Parse(Request.Url.Segments.Last().Split('?')[0]) , item.preguntaID }, new AjaxOptions { HttpMethod = "POST" });
                    <!--Html.ActionLink("Agregar", "AgregarPregunta", new { id = Request.Url.Segments.Last() ; idP = item.preguntaID }, new AjaxOptions { HttpMethod = "POST" });-->
                </td>
            </tr>
        }

    </table>

