@model IEnumerable<AppTest.Models.Pregunta>
@{
    ViewBag.Title = "Agregar Preguntas al Test";
    Layout = "~/Views/Shared/_MasterPlantilla.cshtml";
}

<h2>Agregar Preguntas al Test</h2>

<p>
    @Html.ActionLink("Create New", "../Preguntas/Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.textoPregunta)
        </th>
        <th>
            @Html.Label("Opciones")
        </th>
    </tr>
    
    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.textoPregunta)
            </td>
            <td>
                @Ajax.ActionLink("Agregar Pregunta","AgregarPreguntaTest", new { idT= int.Parse(Request.Url.Segments.Last().Split('?')[0]), id=item.preguntaID}, new AjaxOptions() { HttpMethod = "post" })
            </td>
        </tr>
    }
</table>