@model IEnumerable<AppTest.Models.Test>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreTest)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreTest)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.testID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.testID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.testID }) |
            @Html.ActionLink("Agregar Preguntas","AgregarPregunta", new { id=item.testID})
        </td>
    </tr>
}

</table>
