@model IEnumerable<AppTest.Models.Test>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPlantilla.cshtml";
}

<br />

<h2>Lista de Tests</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreTest)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreTest)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.testID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.testID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.testID }) |
            @Html.ActionLink("Agregar Preguntas","AgregarPregunta", new { id=item.testID})
        </td>
    </tr>
}

</table>

@section Widgets{
    <li class="panel">
        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#forms">
            <i class="fa fa-edit"></i> Menu de Tests <i class="fa fa-caret-down"></i>
        </a>
        <ul class="collapse nav in" id="forms">
            <li>
                <a href="@Url.Action("Index")">
                    <i class="fa fa-angle-double-right"></i> Lista de Tests
                </a>
            </li>
            <li>
                <a href="@Url.Action("Create")">
                    <i class="fa fa-angle-double-right"></i> Añadir un nuevo Test
                </a>
            </li>
        </ul>
    </li>
}