@model AppTest.Models.Convocatoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterPlantilla.cshtml";
}

<br />
<h2>Detalles</h2>

<div>
    <h4>Convocatoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cActiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cActiva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.convocatoriaID }) |
    @Html.ActionLink("Regresar a la Lista de Convocatorias", "Index")
</p>
